/*reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem; }
  header .home {
    color: black;
    text-decoration: none;
    font-size: 3rem; }
  header nav {
    display: flex;
    justify-content: center;
    align-items: center; }
    header nav ul {
      display: flex;
      gap: 2rem;
      list-style: none; }
    header nav a {
      text-decoration: none;
      color: black; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondo1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 30rem; }
  main h2 {
    font-size: 5rem;
    font-family: 'Poppins';
    color: white; }

/*SECTION PORTAFOLIO*/
.portafolio {
  display: flex;
  height: 35rem;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr;
  grid-template-areas: "subTitulo subTitulo subTitulo" " card1     card2      card3"; }
  .portafolio .subTitulo {
    grid-area: subTitulo;
    margin: 1rem;
    color: black; }
    .portafolio .subTitulo h3 {
      display: flex;
      align-items: center;
      justify-content: center; }
  .portafolio .card1 {
    grid-area: card1;
    margin: 3rem; }
  .portafolio .card2 {
    grid-area: card2;
    margin: 3rem; }
  .portafolio .card3 {
    grid-area: card3;
    margin: 3rem; }

/*SECTION ESTUDIOS*/
.conocimientos {
  background-color: black;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "subTituloDos subTituloDos subTituloDos subTituloDos" " conocimientoUno  conocimientoDos  conocimientoTres  conocimientoCuatro" "conocimientoCinco conocimientoSeis conocimiento conocimiento"; }
  .conocimientos .subTituloDos {
    grid-area: subTituloDos;
    margin: 1rem;
    color: white; }
    .conocimientos .subTituloDos h3 {
      display: flex;
      align-items: center;
      justify-content: center; }
  .conocimientos .conocimientoUno {
    grid-area: conocimientoUno;
    font-size: 4rem;
    text-align: center;
    color: orangered; }
  .conocimientos .conocimientoDos {
    grid-area: conocimientoDos;
    font-size: 4rem;
    text-align: center;
    color: #1b1d9d; }
  .conocimientos .conocimientoTres {
    grid-area: conocimientoTres;
    font-size: 4rem;
    text-align: center;
    color: #dc13b1; }
  .conocimientos .conocimientoCuatro {
    grid-area: conocimientoCuatro;
    font-size: 4rem;
    text-align: center;
    color: #6800b1; }
  .conocimientos .conocimientoCinco {
    grid-area: conocimientoCinco;
    font-size: 4rem;
    text-align: center;
    color: #890f0f; }
  .conocimientos .conocimientoSeis {
    grid-area: conocimientoSeis;
    font-size: 4rem;
    text-align: center;
    color: white; }

/*SECTION SOBREMI*/
.sobreMi {
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  background-color: #534c4c;
  height: 5rem;
  display: flex;
  justify-content: space-between; }
  footer .derechos {
    display: flex;
    color: white;
    padding: 1rem; }
  footer .redes {
    padding: 1rem;
    display: flex;
    color: white;
    gap: 1rem; }
    footer .redes a .imgRedes {
      height: 2rem; }
